.user_rating_section{
    margin-bottom: 16px;
    font-size: 14px;
}
.user_rating_section i {
    margin-right: 2px;
}
.cart_quantity .update{
    margin-top: 0px;
}
.order-message textarea{
    height: 243px!important;
}
.method img{
    width: 160px;
    height: 80px;
    border-radius: 8px;
}

.counter{
    margin-top: -10px;
    float: right;
    border: 1px solid #eee;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    text-align: center;
}
.add_to_cart{
    margin-top: 0px!important;
    margin-left: 0px!important;
}
.shopper-informations {
    margin-bottom: 85px;
    float: left;
}
.add_to_cart_form{
    margin-left: 10px;
}

.custom-select.is-invalid,
.form-control.is-invalid,
.was-validated .custom-select:invalid,
.was-validated .form-control:invalid {
    border-color: #dc3545!important;
}

.shop-menu ul li a {
     background: none!important;
}

.view-product img {
    border: 3px solid #F7F7F0!important;
}
.product-information {
    border: 3px solid #F7F7F0!important;
    min-height: 378px;
}
.active {
    color: #FE980F!important;
}
.header-middle{
    margin-bottom: 20px;
}
.girl {
    margin-left: 0;
    height: 350px!important;
    width: 100%;
}

.control-carousel {
    top: 40% !important;
}
.header-bottom {
    padding-bottom: 10px!important;
    padding-top: 0!important;
}
#slider {
    padding-bottom: 20px!important;
}

.productinfo img {
    width: 100%;
    height: auto!important;
    border-radius: 3px;
}
.breadcrumbs .breadcrumb{
    margin-bottom: 20px!important;
}
.search_box input{
    background-image: none!important;
    width: 100%!important;
}

/******** Header style ************/
@keyframes smoothScroll {
    0% {
        transform: translateY(-300px);
    }
    100% {
        transform: translateY(0px);
    }
}
.header-fix {
    position: fixed;
    z-index: 999;
    animation: smoothScroll .5s forwards;
    width: 100%;
    background: white;
    margin-top: -38px;
}
.product_image{
    transition:all 0.3s ease;
}
.product_image:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition:all 0.3s ease;
}
.cart{
    margin-bottom: 0!important;
}
.left-sidebar h2, .brands_products h2{
    z-index: 0!important;
}
.cd-quick-view{
    z-index: 999;
}
.cd-item-info h2 {
    font-size: 2.75rem!important;
    color: #3e585f!important;
}
.cd-slider {
    margin-bottom: 0!important;
}
.cd-item-info h2{
    margin-top: 0!important;
}
.newarrival{
    left: unset!important;
    right: 0!important;
}
.product-information {
    padding-bottom: 0!important;
    padding-left: 0!important;
    padding-top: 0!important;
    padding: 15px!important;
}
.custom_number_input{
    width: 55px!important;
    padding-left: 20px;
}
.cart{
    margin-left: 12px!important;
}
.price{
    color: #FE980F;
    font-weight: bold;
    font-size: 20px;
}
.shipping{
    margin-bottom: 40px;
}
#footer {
    margin-top: 40px;
}
a#scrollUp{
    right: 0!important;
    padding: 0 5px!important;
}
.table{
    margin-bottom: 0!important;
}
.view_cart_image{
    height: 80px;
    width: 80px;
}
.cart_info table tr td{
    vertical-align: middle!important;
}
#do_action .total_area, #do_action .chose_area{
    padding: 20px!important;
}
.price_range_section{
    padding: 10px!important;
}
#min {
    float: left;
    width: 50px;
    text-align: center;
    padding-top: 3px;
}

#slider-range {
    width: 100%;
    float: left;
    margin: 5px 0px 5px 0px;
    height: 15px;
    background: #f7f7f7;
    border: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

#max {
    float: right;
    width: 50px;
    text-align: center;
    padding-top: 3px;
}
.ui-widget-header{
    background: #FE980F!important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #fff!important;
    border-radius: 50%;
}
.ui-slider-horizontal .ui-slider-handle{
    top: 0px!important;
}
.ui-slider .ui-slider-handle {
    width: 15px!important;
    height: 15px!important;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl{
    border-bottom-left-radius: 6px!important;
    border-bottom-right-radius: 6px!important;
    border-top-right-radius: 6px!important;
    border-top-left-radius: 6px!important;
}
.ui-slider-horizontal .ui-slider-handle:focus{
    outline: none;
}
#reviews ul{
    margin: 0!important;
}
.validation_msg_section ul{
    background: none!important;
}
.validation_msg_section ul li{
    display: list-item!important;
}
.single_review {
    border-top: 1px solid rgb(245, 245, 245);
    float: left;
    width: 100%;
    padding: 25px 0;
    position: relative;
}
.single_review:last-child{
    border-bottom: 1px solid rgb(245, 245, 245);
}
.search_box .form-control{
    height: 34px;
}
.search_input {
    padding-right: 0!important;
}
.review_section{
    float: left;
    width: 100%;
    margin-top: 24px;
}
.show_more_review_section {
    float: left;
    width: 100%;
    padding: 12px 0 0 0;
    font-size: 15px;
}
.posetive_negative_quantity{
    font-size: 120%;
    font-weight: 700;
    margin-right: 5px;
    color: #666666;
}
.ui-slider .ui-slider-range, .ui-slider .ui-slider-handle{
    z-index: 0!important;
}
.left-sidebar .fa{
    cursor: pointer;
}
.lr_padding_remove{
    padding-left: 0!important;
    padding-right: 0!important;
}
.shop-details-tab {
    border: 1px solid #F7F7F0;
    margin-bottom: 75px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    background: #FFFFFF;
    box-shadow: 0px 1px 5px -3px #9c9c9c;
    border-radius: 3px;
}
.category-products .badge{
    background: none!important;
    border-radius: 10px!important;
    color: #696763!important;
}
.contact-map {
    margin-bottom: 100px!important;
}
.left-sidebar a:hover, .left-sidebar a:focus{
    text-decoration: none!important;
    color: #FE980F!important;
}
.price_rang_input{
    background-color: #fff;
    border: 1px solid #ddd;
    color: #696763;
    border-radius: 4px;
    box-shadow: inherit;
}
.product-information .jq-ry-container{
    padding: 0!important;
    float: left;
    margin-right: 15px;
}

.review_form .jq-ry-container{
    float: left;
}
.review_login{
    float: left;
    width: 100%;
    border: 1px solid #d9d9d9;
    padding: 76px 10px;
    height: 187px;
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}
.review_login_btn{
    color: #0397d3 !important;
    border-color: #0397d3!important;
    font-size: 85%;
    border-radius: 2px 2px 2px 2px !important;
    box-shadow: 0px 3px 6px -4px #a2a2a2;
    background-color: #FFFFFF;
}
.review_login_btn:hover{
    color: #FFFFFF !important;
    background-color: #0397d3 !important;
    box-shadow: none !important;
    border-color: #8bc4ea !important;
}
.review_action a{
    border: 1px solid #cdcdcd;
    padding: 6px 8px;
    margin-right: 10px;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: inline-flex;
    -webkit-align-self: center;
    align-self: center;
    background: #f8f9fa;
}
.btn-light:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}
#reviews > p{
    margin-bottom: 25px;
}
#reviews ul li span {
    color: #696763;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding-right: 15px;
    border: 0 none;
    border-radius: 0;
    text-transform: uppercase;
}
#reviews ul li i {
    color: #FE980F;
}
#reviews p{
    color: #333!important;
    overflow: hidden;
    transition: all 6ms cubic-bezier(.785,.135,.15,.86);
}
.read-more-overlay--container {
    position: absolute;
    bottom: 115px;
    width: 100%;
}
.read-more-overlay {
    height: 15px;
    background: -webkit-linear-gradient(rgba(255,255,255,0.5),#fff);
    background: linear-gradient(rgba(255,255,255,0.5),#fff);
}
.review_action{
    margin-top: 15px;
}
.cursor_pointer:hover{
    cursor: pointer;
}
.review_text{
    padding-top: 1px;
}






section{
    background: #F1F2F4;
}
.my-account{
    margin: 0!important;
    padding-top: 0!important;
    background-color: #f1f2f4;
    font-family: lato,sans-serif,siyamrupali,sans-serif!important;
    font-size: 14px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    color: #333!important;
}
.small, small {
    font-size: 70%!important;
    font-weight: 400!important;
}
.my-account .sidebar .sidebar__info .sidebar__info--content p {
    margin: 0;
}
.my-account .sidebar .sidebar__info .sidebar__info--content h3 {
    margin: 0;
    font-size: 121%;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: #333;
}
.my-account .sidebar .sidebar__info {
    margin-top: 20px;
    background: #fff;
    box-shadow: 0 4px 6px -3px #9c9c9c;
    border-radius: 3px;
    padding: 20px;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
}
.my-account .sidebar .sidebar__info .sidebar__info--thumbnail {
    margin-right: 10px;
}
.my-account .sidebar .sidebar__menu {
    margin-top: 20px;
    background: #fff;
    box-shadow: 0 4px 6px -3px #9c9c9c;
    border-radius: 3px;
    padding: 20px;
    padding: 0;
}
.my-account .sidebar .sidebar__menu li.active {
    background: #fff;
    background: -webkit-linear-gradient(left,#ffffff 0%,#deffe4 100%);
    background: linear-gradient(to right,#ffffff 0%,#deffe4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',endColorstr='#deffe4',GradientType=1 );
}
.my-account .sidebar .sidebar__menu li.active a {
    color: #5dc16d;
}
.my-account .sidebar .sidebar__menu li a {
    padding: 15px 20px;
    display: block;
    font-size: 120%;
    border-bottom: 1px dotted #cdcdcd;
}
.my-account a{
    color: #333;
    transition: all .6s;
}
.my-account a:hover {
    color: #0397d3;
}
.my-account .shadow-sm {
    margin-top: 20px;
    border-top: 2px solid #3bd257!important;
}
.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.bg-white {
    background-color: #fff!important;
}
.pl-5, .px-5 {
    padding-left: 5rem!important;
}
.pr-5, .px-5 {
    padding-right: 5rem!important;
}
.pb-4, .py-4 {
    padding-bottom: 1.5rem!important;
}
.pt-4, .py-4 {
    padding-top: 2.5rem!important;
}
.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.border {
    border: 1px solid #dee2e6!important;
}
.border-bottom {
    border-bottom: 1px solid #dee2e6!important;
}
.my-account .shadow-sm .heading .text {
    font-size: 19px;
}
.my-account .shadow-sm .heading .edit1, .my-account .shadow-sm .heading .edit2, .my-account .shadow-sm .heading .edit3 {
    cursor: pointer;
    color: #0397d3;
    font-size: 16px;
}
.ml-4, .mx-4 {
    margin-left: 1.5rem!important;
}
.mt-4, .my-4 {
    margin-top: 1.5rem!important;
}

.my-account .shadow-sm form .form-group .form-label {
    font-size: 16px;
}
.pb-1, .py-1 {
    padding-bottom: .25rem!important;
}
.my-account label {
    display: inline-block!important;
    margin-bottom: 1rem!important;
    font-weight: normal!important;
    color: #333;
}
.my-account .label {
    display: block!important;
    text-align: left;
}
.my-account .shadow-sm form .form-group .form-control{
    box-shadow: none;
    border: 1px solid #ced4da;
    height: auto;
}
.my-account .shadow-sm form .form-group .form-control:disabled {
    background-color: #f9f9f9;
}
.p-3 {
    padding: 1rem!important;
}
.custom-control-inline {
    display: -webkit-inline-flex!important;
    display: -moz-inline-box!important;
    display: inline-flex!important;
    margin-right: 1rem;
}
.custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
}
.my-account .shadow-sm form .btn-active {
    background-color: #3bd257!important;
    font-size: 18px!important;
}
.text-light {
    color: #f8f9fa!important;
}
.font-weight-bold {
    font-weight: 700!important;
}
.pl-4, .px-4 {
    padding-left: 2rem!important;
}

.pr-4, .px-4 {
    padding-right: 2rem!important;
}
.mt-2, .my-2 {
    margin-top: .5rem!important;
}
.my-account .shadow-sm form .form-group .form-label {
    font-size: 16px;
}
.mb-3, .my-3 {
    margin-bottom: 2rem!important;
}
.mt-3, .my-3 {
    margin-top: 2rem!important;
}
.rounded-circle {
    border-radius: 50%!important;
}